/* feature section */
.feature-section{
    padding-top: 110px;
}
.feature-section-article, ul{
    list-style-type: disc;
    padding-left: 15px;
}
.feature-section-header{
    display: flex;
}
.feature-section-article{
    display: flex;
    width: 100%;
    margin-top: 90px;
    position: relative;
}
.feature-section-article>.section-img:nth-child(odd):after{
    content: '';
    background-color: #F58A07;
    opacity: 0.8;
    position: absolute;
    width: 95px;
    height: 97px;
    border-radius: 20px;
    top: 128px;
    left: -47.5px;
}
.feature-section-article>.section-img:nth-child(even):after{
    content: '';
    background-color: #F58A07;
    opacity: 0.8;
    position: absolute;
    width: 95px;
    height: 97px;
    border-radius: 20px;
    bottom: 181px;
    right: -47.5px;
}
.section-img{
    width: 50%;
}
.section-img>img{
    width: 100%;
}
.section-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 90px;
    width: 50%;
    height: auto;
}
.feature-section-article>.section-title:nth-child(even){
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 90px;
}
.section-title>.feature-section-btn{
    margin-top: 50px;
}
.section-title>a{
    display: flex;
    margin-top: 24px;
}
.section-title>a>.feature-section-btn{
    background-color: #F58A07;
    padding: 18px 32px;
    border-radius: 27px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
}
.section-title>h2{
    color: rgba(29, 52, 68, 1);
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    margin: 0px;
}
.section-title>p{
    color: rgba(91,91,91,1);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 24px 0px 0px 0px;
}
.section-title>ul>li{
    color: rgba(91,91,91,1);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    list-style-type: disc;
}
/* video-section */
.video-section{
    display: flex;
    margin-top: 120px;
}
.video-section-left{
    width: 50%;
    padding: 50px;
}
.video-section-left>.video-title>h2{
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    color: #0D1317;
}
.video-section-left>.video-title>p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #5B5B5B;
}
.video-logo{
    display: flex;
}
.video-logo>img{
    width: 80px;
    height: 80px;
}
.video-logo-title{
    margin-left: 24px;
}
.video-logo-title>h2{
    margin: 0px 10px;
    color: #063255;
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
}
.video-logo-title>span{
    margin-left: 10px;
    color: #F58A07;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
.video-section-right{
    position: relative;
}
.video-section-right::before{
    content: '';
    position: absolute;
    background-image: url('../biy-daalt/img/play-icon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 160px;
    bottom: 57px;
    left: 57px;
    z-index: 4;
}
